<h1>ADNAT</h1>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  
  <div class = "registration-card">
    <h2><center>sign up</center></h2>

    <div class="registration-fields">
      <center>
        <%= f.text_field :name, placeholder: "name", autofocus: true %><br><br>
        <%= f.email_field :email, placeholder: "email", autofocus: true, autocomplete: "email" %><br>

        <% if @minimum_password_length %>
          <h4>(<%= @minimum_password_length %> characters minimum)</h4>
        <% end %><br />
        <%= f.password_field :password, placeholder: "password", autocomplete: "new-password" %><br><br>

        <%= f.password_field :password_confirmation, placeholder: "confirm password", autocomplete: "new-password" %><br><br>
        
        <%= f.submit "sign up", :class => 'button' %>

        <div class="shared-links"><%= render "devise/shared/links" %></div>
      </center>
    </div>
  </div>
<% end %>

