<h1>ADNAT</h1> 

<% if current_user %>
    <div class="user-profile-container">
        <center>
            <%= render "partials/name" %>

            <div class="navigation">
                <div class="flex-row">
                    <%= link_to "â† home", root_path %>
                </div>
            </div>
        </center>

        <div class="user-profile-content">
            <% if current_user.organization_id.nil? %>
                    <center>
                        <br><br><br><h3 class="gradient-text">hello!</h3>
                        <h4>select "home" to join or add an organization</h4>
                    </center>
            <% else %>
                    <div class="flex-row">
                        <h3>your organization:</h3> 
                        <h3 style="color: #D4AC0D; margin-left: .4rem"><%= @organization.name %></h3>
                    </div>

                    <div class="smaller-margins"> 
                        <%= link_to 'leave', organization_user_leave_path(current_user, @organization), :class => "button" %>
                        <%= link_to "add shift", new_user_shift_path(current_user), :class => "button" %>
                    </div>

                <h5>hourly rate: </h5>
                <p>$<%= @organization.hourly_rate %></p>

                <h5>employees:  </h5>
                <% users = @organization.users %>
                <% users.each do |user| %>
                    <p><%= user.name %></p>
                <% end %>

                <h5>shifts:</h5>
                <% shifts = @organization.shifts %>
                <% shifts.each do |shift| %>
                    <div class="bottom-border">
                        <div class="flex-row">
                            <p style="font-size:.8rem;">employee:<br> <%= shift.user_name %></p>
                            <p style="font-size:.8rem;">shift date:<br> <%= shift.start.strftime("%m-%d-%Y") %></p>
                            <p style="font-size:.8rem;">start time:<br> <%= shift.start.strftime("%I:%M%p") %></p>
                            <p style="font-size:.8rem;">end time:<br> <%= shift.finish.strftime("%I:%M%p") %></p>
                            <p style="font-size:.8rem;">break length:<br> <%= shift.break_length %> mins<p>
                            <p style="font-size:.8rem;">hours worked:<br>
                                <% @shift_length = shift.finish.to_time - shift.start.to_time %>
                                <% @length_in_minutes = @shift_length / 60 %>
                                <% @minutes_worked = @length_in_minutes - shift.break_length %>
                                <% @hours_worked = @minutes_worked / 60 %>

                                <%= @hours_worked %>
                            </p>
                            <p style="font-size:.8rem;">wages earned: 
                                <% @shift_cost = @hours_worked * shift.organization_hourly_rate %>

                                $<%= @shift_cost %>
                            </p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
<% else %>
    <%= render "partials/links" %>
<% end %>