<h1>ADNAT</h1> 

<% if current_user %>
    <div class="user-profile-container">
        <center>
            <%= render "partials/name" %>

            <div class="navigation">
                <div class="flex-row">
                    <%= link_to "â† home", root_path %>
                </div>
            </div>
        </center>

    <div class="profile-content">
            <h3>your organization: <%= @organization.name %></h3>

            <div class="smaller-margins"> 
                <%= link_to 'leave', organization_user_leave_path(current_user, @organization), :class => "button" %>
            </div>

        <h5>hourly rate: </h5>
        <p>$<%= @organization.hourly_rate %></p>

        <h5>shifts:</h5>
        <% shifts = @organization.shifts %>
        <% shifts.each do |shift| %>
            <div class="bottom-border">
                <div class="flex-row">
                    <p>employee:<br> <%= shift.user_name %><p>
                    <p>shift date:<br> <%= shift.created_at.strftime("%m-%d-%Y") %></p>
                    <p>start time:<br> <%= shift.start.strftime("%I:%M%p") %></p>
                    <p>end time:<br> <%= shift.finish.strftime("%I:%M%p") %></p>
                    <p>hours worked:<br>
                        <% @shift_length = shift.finish.to_time - shift.start.to_time %>
                        <% @length_in_minutes = @shift_length / 60 %>
                        <% @minutes_worked = @length_in_minutes - shift.break_length %>
                        <% @hours_worked = @minutes_worked / 60 %>
                        
                        <%= @hours_worked %>
                    </p>
                    <p>break length:<br> <%= shift.break_length %><p>
                </div>
            </div>
        <% end %>
    </div>
    </div>
<% else %>
    <%= render "partials/links" %>
<% end %>