<h1>ADNAT</h1> 
<%= render "partials/shift_errors" %>

<% if current_user %>
    <div class="profile-container">
        <center>
            <%= render "partials/name" %>

            <div class="navigation">
                <div class="flex-row">
                    <%= link_to "â† home", root_path %>
                </div>
            </div>
        </center>

        <div class="profile-content">
            <div class="flex-row">
                <h3>your organization:</h3> 
                <h3 style="color: #D4AC0D; margin-left: .4rem"><%= current_user.organization.name %></h3>
            </div>

            <h3>add a shift</h3>
            <%= render "partials/add_shift_form" %>
        </div>
    </div>
<% else %>
    <%= render "partials/links" %>
<% end %>