<h1>ADNAT</h1> 
<%= render "partials/shift_errors" %>

<% if current_user %>
    <div class="profile-container">
        <center>
            <%= render "partials/name" %>

            <div class="navigation">
                <div class="flex-row">
                    <%= link_to "â† home", root_path %>
                </div>
            </div>
        </center>

        <div class="profile-content">
            <h3>your organization: <%= current_user.organization.name %></h3>

            <h3>add shift</h3>
                <%= form_with model: @shift, url: user_shifts_path(current_user, @shift), method: "post" do |f| %>

                    <%= f.hidden_field :organization_id, value: current_user.organization.id  %>

                    <div class="field-labels">
                    <%= f.label :start, "shift start:" %>
                    <%= f.datetime_select :start, autofocus: true %><br><br>
                    
                    <%= f.label :finish, "shift end:" %>
                    <%= f.datetime_select :finish, autofocus: true %><br><br>
                    
                    <%= f.label :break_length, "break length:" %>
                    <%= f.text_field :break_length, placeholder: "(in minutes)", autofocus: true %></div><br>

                    <%= f.submit "add", :class => "button" %>
                <% end %>
        </div>
    </div>
<% else %>
    <%= render "partials/links" %>
<% end %>