<h1>ADNAT</h1>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="registration-card"><center>
  <h2>log in</h2>

    <div class="registration-fields">
      <%= f.email_field :email, placeholder: "email", autofocus: true, autocomplete: "email" %><br><br>

      <%= f.password_field :password, placeholder: "password", autocomplete: "current-password" %>

      <% if devise_mapping.rememberable? %>
        <h4><%= f.check_box :remember_me %>
        <%= f.label :remember_me %></h4><br><br>
      <% end %>

      <%= f.submit "log in", :class => 'button' %>

      <div class="shared-links"><%= render "devise/shared/links" %></div>
    </div>
  </center></div>
<% end %>

