<h1>ADNAT</h1> 

<% if current_user %>
    <div class="profile-container">
        <center>
            <%= render "partials/name" %>

            <div class="navigation">
                <div class="flex-row">
                    <%= link_to "â† back", :back %>
                </div>
            </div>
        </center>
            
            <div class="profile-content">
                <h3>add a new organization</h3>
                <%= render "partials/add_organization_form" %>
               
                <h3>existing organizations:</h3>
                <%= render "partials/organizations_list" %>
            </div>
    </div>
<% else %>
    <%= render "partials/links" %>
<% end %>
