<h1>ADNAT</h1> 

<% if current_user %>
    <div class="profile-container">
        <center>
            <%= render "partials/name" %>

            <div class="navigation">
                <div class="flex-row">
                    <%= link_to "â† back", :back %>
                </div>
            </div>
        </center>
            
            <div class="profile-content">
                <h3>add a new organization</h3>

                <%= form_with model: @organization, url: organizations_path, method: "post" do |f| %>

                    <%= f.text_field :name, placeholder: "name", autofocus: true %><br><br>
                    <%= f.text_field :hourly_rate, placeholder: "hourly rate", autofocus: true %><br><br>

                    <%= f.submit "add", :class => "button" %>
                <% end %>

                <h3>existing organizations:</h3>
                <div class="organizations-container">
                    <% @organizations = Organization.all %>
                    <% @organizations.map do |organization| %>
                        <div class="organizations">
                        <%= link_to(organization.name, organization_path(organization)) %>
                        </div>
                    <% end %>
                </div>
            </div>
    </div>
<% else %>
    <%= render "partials/links" %>
<% end %>
