<h1>ADNAT</h1> 

<% if current_user %>
    <div class="profile-container">
        <center>
            <%= render "partials/name" %>

            <div class="navigation">
                <div class="flex-row">
                    <%= link_to "â† home", root_path %>
                </div>
            </div>
        </center>

    <div class="profile-content">
            <h3><%= @organization.name %></h3>
            <div class="smaller-margins">
            <%= button_to "delete", @organization, method: "delete", :class => "button" %><br /> 
            <%= link_to 'join', organization_user_join_path(current_user, @organization), :class => "button" %>
            <%= link_to 'leave', organization_user_leave_path(current_user, @organization), :class => "button" %>
            </div>
        <h5>hourly rate: </h5>
        <p><%= @organization.hourly_rate %></p>
        
        <h5>members: </h5>
        <% users = @organization.users %>
        <% users.each do |user| %>
            <p><%= user.name %> (employee id: <%= user.id %>)<p>
        <% end %>

        <br><h5>shifts:</h5>
        <% shifts = @organization.shifts %>
        <% shifts.each do |shift| %>
            <p>employee: <%= shift.user_id %><p>
            <p>break length: <%= shift.break_length %><p><br>
        <% end %>


        <br><h3>edit current organization</h3>
            <%= form_with model: @organization, url: organization_path(@organization), method: "patch" do |f| %>
                <%= f.text_field :name, placeholder: "name", autofocus: true %><br><br>
                <%= f.text_field :hourly_rate, placeholder: "hourly rate", autofocus: true %><br><br>

                <%= f.submit "edit", :class => "button" %>
            <% end %>
    </div>
    </div>
<% else %>
    <%= render "partials/links" %>
<% end %>