<h1>ADNAT</h1> 

<% if current_user %>
    <div class="profile-container">
        <center>
            <%= render "partials/name" %>

            <div class="navigation">
                <div class="flex-row">
                    <%= link_to "â† home", root_path %>
                </div>
            </div>
        </center>

        <div class="profile-content">
                <h3 style="color: #D4AC0D; text-align:center;"><%= @organization.name %></h3>

                <% if current_user.organization_id.nil? %>
                    <div class="smaller-margins">
                        <div class="float-left">
                            <%= link_to 'join', organization_user_join_path(@organization, current_user), :class => "button" %> 
                        </div>
                    </div>
                <% else %>
                    <p></p>
                <% end %>

            <br><br><h5>hourly rate: </h5>
            <p>$<%= @organization.hourly_rate %></p>
            
            <h5>members: </h5>
            <% users = @organization.users %>
            <% users.each do |user| %>
                <p><%= user.name %></p>
            <% end %>
    
            <% if current_user.organization_id == @organization.id %>
                <h3>edit current organization</h3>
                <%= render "partials/edit_organization_form" %><br>
                
                <% else %>
                    <h3>delete current organization</h3>
                    <%= button_to "delete", @organization, method: "delete", :class => "button" %>
            <% end %>
        </div>
    </div>
<% else %>
    <%= render "partials/links" %>
<% end %>