<h1>ADNAT</h1> 

<% if current_user %>  
    <div class="profile-container">
        <center>
            <%= render "partials/name" %>

            <div class="navigation">
                <div class="flex-row">
                    <%= link_to "add organization", new_organization_path %>
                    <%= link_to "add shift", new_user_shift_path(current_user) %>
                </div>
            </div>
    
            <div class="profile-content">
            <h3>your organization:</h3>
                <% if current_user.organization_id.nil? %>
                    <p>please join an organization</p>
                    <% else %>
                        <p><%= current_user.organization.name %></p>
                <% end %>

                <h3>all organizations:</h3>
                <div class="organizations-container">
                    <% @organizations = Organization.all %>
                    <% @organizations.map do |organization| %>
                        <div class="organizations">
                        <%= link_to(organization.name, organization_path(organization)) %>
                        </div>
                    <% end %>
                </div>
            </div>
        </center>
    </div>
<% else %>
   <%= render "partials/links" %>
<% end %>